* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 86%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: "Jost", sans-serif;
}

.btn1 {
  cursor: pointer;
  width: max-content;
  padding: 10px 20px;
  display: inline-block;
  color: white;
  background-color: #65C9BB;
  border: 1px solid #65C9BB;
  transition: 0.5s;
}
.btn1:hover {
  background-color: transparent;
  border: 1px solid #65C9BB;
  color: #65C9BB;
}

.btn2 {
  cursor: pointer;
  width: max-content;
  padding: 10px 20px;
  color: white;
  background-color: #F15B43;
  border: 1px solid #F15B43;
  transition: 0.5s;
}
.btn2:hover {
  background-color: transparent;
  border: 1px solid #F15B43;
  color: #F15B43;
}

.spn {
  font-weight: 500;
  color: #65C9BB;
}

.blog_item {
  margin-bottom: 20px;
  padding: 30px;
  background-color: #fbf9ff;
}
.blog_item ul {
  padding-top: 1rem;
  padding-left: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 5;
  font-family: "Rubik", sans-serif;
}

nav {
  padding: 10px 50px;
  background-color: #263B5C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .left {
  display: flex;
  gap: 70px;
  align-items: center;
}
nav .left ul {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 18px;
  margin-bottom: 0;
}
nav .left ul a {
  color: white;
  transition: 0.4s;
}
nav .left ul a:hover {
  color: #65C9BB;
}
nav .right {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav .right p {
  margin-bottom: 0;
}
nav .right p span {
  border-bottom: 1px dashed rgb(255, 255, 255);
}
nav .right a {
  color: white;
  background-color: rgb(255, 75, 75);
  border: 1px solid rgb(255, 75, 75);
  padding: 20px 20px;
}
nav .right a:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
}
nav .right a i {
  color: white;
}

.burgerMenu {
  z-index: 1;
  position: relative;
  top: -10px;
  display: none;
  justify-content: end;
  padding: 10px 10px;
  width: 98%;
  background-color: gray;
  margin: 0 auto;
}
.burgerMenu button {
  color: white;
  padding: 10px 12px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1400px) {
  nav .right p {
    display: none;
  }
}
@media (max-width: 992px) {
  .burgerMenu {
    display: flex;
  }
  nav .left ul {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  nav .left {
    gap: 12px;
  }
  nav .left ul {
    font-size: 16px;
    gap: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  nav .left {
    gap: 12px;
  }
  nav .left ul {
    font-size: 16px;
    gap: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  nav .left {
    gap: 70px;
  }
  nav .left ul {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  nav .right a {
    display: none;
  }
}
footer {
  background-color: #263B5C;
  padding: 10px;
  color: white;
}
footer .container .bottomFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .container .row {
  padding: 50px 0;
}
footer .container .row .col {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  font-family: "Rubik", sans-serif;
}
footer .container .row .col h4 {
  font-family: "Jost", sans-serif;
}
footer .container .row .col ul {
  padding: 0;
}
footer .container .row .col ul li {
  font-family: "Rubik", sans-serif;
  margin-bottom: 12px;
}
footer .container .row .col ul li a {
  color: white;
}
footer .container .row .col {
  padding-left: 30px;
}
footer .container .row .col:nth-child(1) {
  padding: 0 40px 0 0;
}
footer .container .row .col:nth-child(1) ul {
  display: flex;
  gap: 6px;
}
footer .container .row .col:nth-child(1) ul li {
  cursor: pointer;
  padding: 18px;
  background-color: red;
}
footer .container .row .col:nth-child(1) ul li i {
  transition: 0.4s;
  font-size: 18px;
}
footer .container .row .col:nth-child(1) ul li:hover i {
  transform: rotateY(180deg);
}
footer .container .row .col:nth-child(1) img {
  width: 50%;
}

.arrowUp {
  position: fixed;
  bottom: 3%;
  right: 3%;
  z-index: 10;
}
.arrowUp i {
  border-radius: 50%;
  padding: 18px;
  font-size: 16px;
  color: white;
  background-color: #65C9BB;
}

#hero {
  position: relative;
  top: 0;
  background-image: url(/assets/images/h1_hero1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 130vh;
  display: flex;
  align-items: center;
}
#hero .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 40%;
  height: max-content;
  color: white;
  font-family: "Jost", sans-serif;
}
#hero .container .content h1 {
  font-size: 70px;
  line-height: 70px;
  font-weight: 500;
  letter-spacing: -2px;
}
#hero .container .content p {
  font-weight: 500;
  font-size: 22px;
}
#hero .container .content button {
  width: 46%;
}

@media (max-width: 1296px) {
  #hero .container .content h1 {
    font-size: 60px;
  }
}
@media (max-width: 1075px) {
  #hero .container .content {
    width: 80%;
  }
  #hero .container .content h1 {
    font-size: 51px;
  }
}
@media (max-width: 768px) {
  #hero .container .content {
    width: 90%;
  }
  #hero .container .content h1 {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  #hero .container .content {
    width: 100%;
  }
  #hero .container .content h1 {
    font-size: 40px;
  }
}
@media (max-width: 481px) {
  #hero .container .content {
    width: 100%;
  }
  #hero .container .content h1 {
    font-size: 36px;
    line-height: 40px;
  }
  #hero .container .content p {
    font-size: 16px;
  }
  #hero .container .content button {
    font-size: 16px;
    padding: 10px 10px;
  }
}
#B12 {
  background-color: #FCF2EB;
}
#B12 .container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
#B12 .container .col6 {
  padding: 10px 0;
  width: 50%;
}
#B12 .container .col6 img {
  width: 100%;
}
#B12 .container .col6:nth-child(2) {
  padding: 10px 0 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Rubik", sans-serif;
}
#B12 .container .col6:nth-child(2) h2 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  color: #263B5C;
}
#B12 .container .col6:nth-child(2) span {
  color: #65C9BB;
}
#B12 .container .col6:nth-child(2) p {
  padding: 10px 0;
  font-weight: 400;
  font-size: 18px;
  color: #777777;
}
#B12 .container .col6:nth-child(2) .buttons {
  display: flex;
}
#B12 .container .col6:nth-child(2) button:nth-child(2) {
  margin-left: 8px;
}

@media (max-width: 992px) {
  #B12 {
    background-color: #FCF2EB;
  }
  #B12 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
  #B12 .container .co6 {
    width: 100% !important;
    border: 1px solid orange;
  }
  #B12 .container .co6 img {
    width: 100%;
  }
  #B12 .container .col6:first-child {
    width: 100%;
  }
  #B12 .container .col6:nth-child(2) {
    padding: 0;
    width: 100%;
  }
}
#charity {
  padding: 1rem 0;
  margin: 1rem 0;
}
#charity .container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px 0;
}
#charity .container .col6 {
  padding: 10px 0;
  width: 50%;
}
#charity .container .col6 img {
  width: 100%;
}
#charity .container .col6:nth-child(1) {
  padding: 10px 0 0 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Rubik", sans-serif;
}
#charity .container .col6:nth-child(1) h2 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  color: #263B5C;
}
#charity .container .col6:nth-child(1) span {
  color: #65C9BB;
}
#charity .container .col6:nth-child(1) p {
  padding: 10px 0;
  font-weight: 400;
  font-size: 18px;
  color: #777777;
}
#charity .container .col6:nth-child(1) .buttons {
  display: flex;
}
#charity .container .col6:nth-child(1) button:nth-child(2) {
  margin-left: 8px;
}

@media (max-width: 992px) {
  #charity .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
  #charity .container .co6 {
    width: 100% !important;
    border: 1px solid orange;
  }
  #charity .container .co6 img {
    width: 100%;
  }
  #charity .container .col6:nth-child(1) {
    width: 100%;
  }
  #charity .container .col6:nth-child(2) {
    padding: 0;
    width: 100%;
  }
}
#cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#cards .card {
  width: 32%;
  display: flex;
  flex-direction: column;
  background-color: #F4F2F1;
  transition: 1s;
  border: none;
}
#cards .card img {
  width: 100%;
}
#cards .card .cardMain {
  border: none;
  border-bottom: 1px solid rgb(232, 232, 232);
  padding: 26px 20px;
}
#cards .card .cardMain h3 {
  color: #263B5C;
  font-size: 26px;
}
#cards .card .cardMain p {
  margin: 8px 0;
  font-family: "Rubik", sans-serif;
  color: #777777;
}
#cards .card ul {
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cards .card ul li {
  display: flex;
  flex-direction: column;
}
#cards .card ul li span {
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}
#cards .card:hover h3 {
  color: #F15B43;
}
#cards .card:hover button {
  background-color: transparent;
  border-color: #F15B43;
  color: #F15B43;
}

@media screen and (max-width: 768px) {
  #cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  #cards .card {
    width: 46% !important;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  #cards {
    display: flex;
    flex-direction: column;
  }
  #cards .card {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
#doing .container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 60px 0;
  margin: 30px 0;
}
#doing .container .col8 {
  width: 60%;
  display: flex;
  justify-content: end;
  align-items: center;
}
#doing .container .col8 img {
  width: 70%;
}
#doing .container .col4 {
  width: 40%;
  padding: 10px 0 0 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Rubik", sans-serif;
}
#doing .container .col4 h2 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  color: #263B5C;
}
#doing .container .col4 span {
  color: #65C9BB;
}
#doing .container .col4 p {
  padding: 6px 0;
  font-weight: 400;
  font-size: 18px;
  color: #777777;
}
#doing .container .col4 .buttons {
  display: flex;
}
#doing .container .col4 button:nth-child(2) {
  margin-left: 8px;
}

@media (max-width: 768px) {
  #doing {
    width: 100%;
  }
  #doing .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 14px;
  }
  #doing .container .col8 {
    padding: 20px 0;
    width: 100%;
  }
  #doing .container .col8 img {
    width: 100%;
  }
  #doing .container .col4 {
    padding: 20px 30px;
    width: 100%;
  }
}
#icons {
  background-image: url(/assets/images/section-bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: max-content;
}
#icons .container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
#icons .container .content {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#icons .container .icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#icons .container .icons .icon_item {
  padding: 0 30px;
  width: 30%;
  display: flex;
  gap: 16px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #icons .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #icons .icons .icon_item {
    width: 45% !important;
    padding: 0 13px;
  }
}
@media screen and (max-width: 576px) {
  #icons .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #icons .icons .icon_item {
    width: 100% !important;
    padding: 0 13px;
  }
}
#swiper {
  padding: 5rem 0;
}
#swiper h2 {
  font-size: 46px;
  margin: 10px 0 50px;
  color: #263B5C;
}
#swiper .content {
  background: #F4F2F1;
  padding: 30px;
}
#swiper .content p {
  margin: 10px 0;
  color: gray;
  font-family: "Rubik", sans-serif;
}
#swiper .content h3 a {
  color: #263B5C;
}
#swiper .content > a {
  font-family: "Rubik", sans-serif;
  color: #F15B43;
  border-bottom: 3px solid #F15B43;
  transition: 0.3s;
}
#swiper .content > a:hover {
  letter-spacing: 1px;
}

button {
  border: 1px solid rgb(213, 213, 213);
  padding: 19px 28px;
  color: rgb(189, 189, 189);
  background-color: white;
}

#blog {
  position: relative;
  top: 0;
  background-image: url(/assets/images/blog/h2_hero1.jpg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
}
#blog .container h1 {
  color: white;
  font-size: 56px;
  position: absolute;
  bottom: 18%;
}
#blog .container img {
  width: 100%;
}

#blogCards {
  padding: 4rem 0;
}
#blogCards .col8 .blogCards {
  margin-bottom: 2rem;
}
#blogCards .col8 .blogCards .images {
  position: relative;
}
#blogCards .col8 .blogCards .images img {
  width: 100%;
}
#blogCards .col8 .blogCards .images .abs {
  border-radius: 5px;
  position: absolute;
  background-color: #65C9BB;
  color: white;
  padding: 14px 29px;
  bottom: -18px;
  left: 39px;
  font-size: 16px;
  text-align: center;
  transition: 0.2s;
}
#blogCards .col8 .blogCards .images .abs:hover {
  border: none;
  background-color: transparent;
  color: #65C9BB;
}
#blogCards .col8 .blogCards .images .abs b {
  font-size: 26px;
  font-weight: 700;
}
#blogCards .col8 .blogCards .cardBody {
  padding: 40px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
  font-family: "Rubik", sans-serif;
}
#blogCards .col8 .blogCards .cardBody p {
  color: rgb(90, 90, 90);
}
#blogCards .col8 .blogCards .cardBody ul {
  padding-left: 0;
  display: flex;
  gap: 14px;
}
#blogCards .col8 .blogCards .cardBody ul li a {
  color: gray;
}
#blogCards .col8 .blogCards .cardBody ul li a i {
  margin-right: 8px;
}
#blogCards .col8 .number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 14px;
}
#blogCards .col8 .number a {
  border: 1px solid gray;
  padding: 10px 16px;
  display: inline-block;
  color: rgb(199, 199, 199);
}
#blogCards .col8 .number a:hover {
  color: #65C9BB;
}
#blogCards .col4 .recent-post .post {
  display: flex;
  margin-bottom: 20px;
}
#blogCards .col4 .recent-post .post div {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}
#blogCards .col4 .recent-post .post div p {
  margin-bottom: 0;
}
#blogCards .col4 .recent-post .post div h5 {
  margin-bottom: 0;
}
#blogCards .col4 .category ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#blogCards .col4 .category ul li {
  padding-bottom: 12px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
#blogCards .col4 .category ul li a {
  font-weight: 500;
  color: #737373;
}
#blogCards .col4 .blog_item1 ul {
  padding-right: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#blogCards .col4 .blog_item1 ul li {
  padding: 3px 12px;
  background-color: white;
  border: 1px solid rgb(175, 175, 175);
}
#blogCards .col4 .blog_item1 ul li a {
  color: rgb(144, 144, 144);
  font-size: 14px;
  font-weight: 500;
}
#blogCards .col4 .blog_item2 ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#blogCards .col4 .blog_item2 ul li {
  width: 31%;
}
#blogCards .col4 .blog_item2 ul li img {
  width: 100%;
}
#blogCards .col4 .blog_item3 {
  display: flex;
  flex-direction: column;
}
#blogCards .col4 .blog_item3 input {
  margin-top: 20px;
  border: 1px solid gray;
  padding: 8px;
  margin-bottom: 10px;
}
#blogCards .col4 .blog_item3 button {
  padding: 8px;
  display: block;
  border: 1px solid #65C9BB;
  color: #65C9BB;
  background-color: white;
}/*# sourceMappingURL=style.css.map */